body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: left;
    font-size: 38px;
    line-height: 1.2;
}
.p1{
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
    margin-top: -16px;
}
.Tela{
  max-height: 100%;
  height: 1020px;
  width: 100%;
  background-color: white;
  overflow: scroll;
  margin: 0 auto;
}
.Bloco1{
  height: 80px;
  width: auto;
  background-color: rgb(113,89,193);<!--roxo-->
  color: white;
  margin: 0 auto;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
.Bloco2{
  height: 366px;
  width: 100%;
  background-color:white;
  color: rgb(102,102,102);<!--cinza-->
}
.Bloco3{
  height: 419px;
  width: auto;
  background-color: rgb(113,89,193);
  color: white;
  margin: 0 auto;
  margin-left: 8px;
  margin-right: 8px;
}
.Bloco4{
  height: 356px;
  width: 100%;
  background-color: white;
  color: rgb(102,102,102);
}
.Bloco5{
  height: 186px;
  width: 100%;
  background-color: rgb(113,89,193);
  color: white;
  margin: 0 auto;
  margin-left: 9px;
  margin-right: 9px;
}
.Bloco6{
  height: 166px;
  width: 100%;
  background-color: white;
  color: rgb(102,102,102);
  display: table;
}
.InBloco{
  width: 53.6%;
  margin: 0 auto;
}

.Texto1{
  float: left;
  width: 50%;
  text-align: center;
  font-size: 18px;
}
.img1{
  float: right;
  width: 36%;
  padding-top: 66px;
}
.Texto2{
  float: right;
  width: 50%;
  text-align: center;
}
.img2{
  float: left;
  width: 36%;
    padding-top: 66px;
}
.Texto3{
  float: right;
  width: 48%;
  text-align: center;
}
.Texto3 input{
  float: left;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
.img3{
  width: 48%;
  background-color: red;
}
.img3 img{
  bottom: 40%;
  float: right;
}
.copyrigth{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.Texto1.a{
  text-decoration: none;
}
.comunidade{
  float: left;
  padding: 6px;
  background-color: rgb(113,89,193);
  border-radius: 16px;
  color: rgb(255, 255, 255);
  width: auto;
}
.IconMenu{
  visibility: hidden;
}
.menu{
  list-style: none;
  width: 58%;
  margin: 0 auto;
  padding-top: 18px;
  visibility: visible;
}
.menu ul{
  list-style: none;
  padding:0;
	height:0px;
	margin:0;
}
.menu ul li{
  float:left;
  margin-left:0px;
  font-size:17px;
}

.menu ul li a{
  color:#FFF;
  text-decoration: none;
  padding:0px 10px;
  align: center;

  line-height:45px;
  display:block;
}
.linha{
  border-right: 1px solid #fff;
  padding-right: 20px;
}
.menu ul li a:hover{
  text-decoration: underline;
}
.midia{
  list-style: none;
  padding:0;
	height:0px;
	margin:0;
  float: right;
}
.midia li{
  float:left;
  margin-left:0px;
  font-size:17px;
  width: 30px;
}

.midia li a{
  color:#FFF;
  text-decoration: none;
  padding:0px 18px;
  align: center;


  line-height:45px;
  display:block;
}

@media screen and (max-width: 800px) {
  .Bloco2{
    height: 680px;
  }
  .Bloco3{
    height: 580px;
  }
  .Bloco4{
    height: 600px;
  }
  .Bloco5{
    height: 350px;
  }
  .InBloco{
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .Texto1{
    float: right;
    width: 80%;
    text-align: center;
    font-size: 18px;
  }
  .img1{
    float: bottom;
    width: 80%;
    padding-top: 66px;
  }
  .p1{
      text-align: center;
      font-size: 18px;
      line-height: 1.8;
      margin-top: -16px;
  }


  .Texto2{
    float: bottom;
    width: 80%;
    text-align: center;
  }
  .img2{
    float: top;
    width: 80%;
      padding-top: 66px;
  }
  .Texto3{
    float: bottom;
    width: 80%;
    text-align: center;
  }
  .img3{
    float: top;
    width: 80%;
    background-color: redç
  }
  .IconMenu{
    visibility: visible;
}
  .menu{
    visibility: hidden;
  }

}
